@model IEnumerable<sistema001.Models.employees>

@{
    ViewBag.Title = "Sesión 01";
}

<div class="page-titleContainer">
    <h2 class="page-title">Administración de Empleados</h2>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.emp_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emp_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emp_Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.departments.dpt_Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.emp_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emp_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emp_Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.departments.dpt_Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.employeeid }) |
            @Html.ActionLink("Details", "Details", new { id=item.employeeid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.employeeid })
        </td>
    </tr>
}

</table>
