@model IEnumerable<sistema001.Models.departments>

@{
    ViewBag.Title = "Sesión 01";
}

<div class="page-titleContainer">
    <h2 class="page-title">Administración de Departamentos</h2>
</div>


<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dpt_Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dpt_Description)
        </td>
        <td>
            <span class="btn btn-info"> @Html.ActionLink("Edit", "Edit", new { id = item.departmentid }) </span> |
            @Html.ActionLink("Details", "Details", new { id=item.departmentid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.departmentid })
        </td>
    </tr>
}

</table>
